$twitter-blue: #55ACEE;
$body-font: 'Lato', sans-serif;
$light-opacity: rgba(255, 255, 255, 0.8);
$dark-blue-opacity: rgba(0, 210, 255, 0.5);


$light-grey: #D0D0D0;
$dark-grey: #888888;
$blue: #00D2FF;
$sponsor-img-grey: #D0D0D0;
$background-color: rgba(0, 210, 255, 0.4);


@import "style.scss";
@import "landing.scss";
@import "twitter.scss";
@import "speakers.scss";
@import "schedule.scss";
@import "sponsors.scss";
@import "contact.scss";
@import "nav.scss";