// CONTACT =======================================================

  .contact-panel {
    height: 40em;
    margin: 0 auto;
    background-color: $background-color;
    // text-align: center;
      // display: flex;
      // flex-flow: row-wrap;

    p {
      margin-top: 0px;
    }

    .col-span {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .maps {
      margin-left: 2%;
      margin-right: 2%;
      width: 40%;
      max-height: 100%;
      border: solid 3px white;
    }

    .contact-form {
      margin-left: 2%;
      margin-right: 2%;
      width: 40%;

      .contact-input {
        max-width: 100%;
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: solid 3px white;
        // border: none;
        // border-radius: 3px;
        font-size: 1em;
        padding: 0.2em 0em 0.2em 0.2em;
        font-family: $body-font;
        font-weight: 300;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .submit-btn {
      border: solid 3px white;
      // border-radius: 5px;
      padding: 0.5em 2em 0.5em 2em;
      font-size: 1em;
      font-family: $body-font;
      font-weight: 400;
      background-color: transparent;
      text-align: center;
      color: white;
    }

    .submit-btn:hover {
      font-weight: 400;
      background-color: $blue;
      color: white;
    }

}