// SCHEDULE =======================================================
  .schedule-panel {
    height: 55em;
    margin: 0 auto;
    background-color: $background-color;
  }
  /* ---- Timeline ---- */
  /*section {
    background: rgba(255,255,255,0.9);
    padding-right: 85px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 60%;
    margin: auto;
    margin-top: -20px;
    border-radius: 5px;
    border: 1px solid #666;
}*/
div.comments {
  /*border: 1px dashed black;*/
}
.comment {
    overflow: hidden;
    padding: 0 0 1em;
    margin: 0 0 1em;
    margin-left: 40px;
    *zoom: 1;
    width: 80%;
}
.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 100%;
    overflow: hidden;
}
.comment-img img { display: block }
.comment-body { overflow: hidden }
.comment .text {
    padding: 10px;
    /*border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;*/
}
.comment .text p:last-child { margin: 0 }
.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}
/* Decoration */
.comments, .comment { position: relative }
.comments:before, .comment:before, .comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}
.comments:before {
    width: 3px;
    left: 105px;
    bottom: 0px;
    background: rgba(0,0,0,0.1);
}
.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}
.comment:hover {
    /*  cursor: url('../images/FB_CUR.cur');  See the result on http://lab.web-gate.fr/timeline/ */
    cursor: cell; /* This line is for the cursor */
}
.comment:hover:before { background: #3b5998 }
/*.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}*/