$twitter-blue: #55ACEE;
$body-font: 'Lato', sans-serif;
$light-opacity: rgba(255, 255, 255, 0.8);
$dark-blue-opacity: rgba(0, 210, 255, 0.5);


$light-grey: #D0D0D0;
$dark-grey: #888888;
$blue: #00D2FF;
$sponsor-img-grey: #D0D0D0;
$background-color: rgba(0, 210, 255, 0.4);

// @media screen and (max-width: 1500px) {
  
// ALL PAGES =======================================================
  body {
    margin: 0 auto;
  }

  a, a:hover, a:visited, a:active {
    text-decoration: none;
  }

  body {
    // background-color: $blue;
    margin: 0px;
    font-family: 'Lato', sans-serif;
  }


  .panel-heading {
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    border-bottom: solid 2px $dark-grey;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    width: 200px;
    color: $dark-grey;
  }

  .header {
    background-color: rgba(0, 0, 0, 0.4);
    border-top: solid 0.3em $blue;

    nav {
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;

      a {
        text-decoration: none;
        padding-left: 0.5em;
        padding-right: 0.5em;
        vertical-align: middle;
        color: white;
        font-weight: 300;
      }

      a:hover {
        color: $blue;
        font-weight: bolder;
        border-bottom: solid 2px $blue;
        padding-bottom: 1em;
        // transition: 0.2s;
      }
    }

  } 

// LANDING ===================================================

  .landing-panel {
    background: url("/images/cityscape.jpg");
    background-size: cover;
    height: 50em;
    text-align: center;
    
    .logo {
      padding-top: 2em;
    }

    .dates {
      padding-bottom: 0.5em;
      font-size: 2em;
      color: $light-grey;
      p {
        padding: 0;
      }
    }

    p {
      color: white
    }

    .buy-tkts-btn {
      border: solid 0.2em $blue;
      padding: 0.6em 3em 0.6em 3em;
      background-color: rgba(0, 0, 0, 0.3);
      color: $blue;
      font-size: 1.2em;
      margin-top: 2em;
    }

    .buy-tkts-btn:hover {
      background-color: $blue;
      color: white;
      transition: 0.3s;
      font-weight: bolder;
    }

    .down-btn {
      display: block;
      margin: 0 auto;
      outline: none;
      border: none;
      background-color: transparent;
      // color: white;
      color: $light-opacity;
      font-size: 2em;
      padding-top: 5em;
    }
  }

  .fa-chevron-down {
    animation-name: fa-chevron-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    }

    @keyframes fa-chevron-down {
      from {
        transform: translate(0, 0)
      }
      65% {
        transform: translate(0, 15px)
      }
      to {
        transform: translate(0, 0)
      }
    }



  // TWITTER =======================================================

  .twitter-panel {
    height: 35em;
    margin: 0 auto;
    background-color: $background-color;
    text-align: center;
    font-weight: 300;
  
    .twitter-sections {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .twitter-section-title {
        font-weight: 400;
      }

      .twitter-info {
        width: 10em;
        margin-left: 3.5em;
        margin-right: 3.5em;
      }

    }

  }

  // SPEAKERS =======================================================

  .speakers-panel {
    height: 35em;
    // background-color: white;
    margin: 0 auto;

    .speakers-div {
      margin-top: 5em; 
      display: flex;
      flex-direction: row;
      justify-content: center;

      .speaker-tile {
        display: inline-block;
        margin-right: 1%; 
        margin-left: 1%;
      }
      
      .speaker-avatar {
          border-radius: 100%;
          border: 2px solid $blue;

          // filter: drop-shadow(16px 16px 20px blue);
      }
      
      .speaker-tile .speaker-name {
          text-align: center;
          color: $dark-grey;
          font-size: 1.2em;
          // font-weight: 300;
      }
      
      .speaker-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;

        i {
          font-size: 1.5em;
          color: #00D2FF;
          text-align: center; 
          padding: 0em 0.2em 0em 0.2em;
        }
      }
      
      // .first {
      //   margin-left: 4%; 
      // }
      
      // .last {
      //   margin-right: 3%; 
      // }
    }

  }

// SCHEDULE =======================================================
  .schedule-panel {
    height: 55em;
    margin: 0 auto;
    background-color: $background-color;
  }
  /* ---- Timeline ---- */
  /*section {
    background: rgba(255,255,255,0.9);
    padding-right: 85px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 60%;
    margin: auto;
    margin-top: -20px;
    border-radius: 5px;
    border: 1px solid #666;
}*/
div.comments {
  /*border: 1px dashed black;*/
}
.comment {
    overflow: hidden;
    padding: 0 0 1em;
    margin: 0 0 1em;
    margin-left: 40px;
    *zoom: 1;
    width: 80%;
}
.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 100%;
    overflow: hidden;
}
.comment-img img { display: block }
.comment-body { overflow: hidden }
.comment .text {
    padding: 10px;
    /*border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;*/
}
.comment .text p:last-child { margin: 0 }
.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}
/* Decoration */
.comments, .comment { position: relative }
.comments:before, .comment:before, .comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}
.comments:before {
    width: 3px;
    left: 105px;
    bottom: 0px;
    background: rgba(0,0,0,0.1);
}
.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}
.comment:hover {
    /*  cursor: url('../images/FB_CUR.cur');  See the result on http://lab.web-gate.fr/timeline/ */
    cursor: cell; /* This line is for the cursor */
}
.comment:hover:before { background: #3b5998 }
/*.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}*/

// SPONSORS =======================================================

  .sponsors-panel {
    height: 25em;
    background-color: white;
    text-align: center;
    // margin: 0 auto;

    .sponsor-img {
      // text-align: center;

      height: 10em;
      margin: 0em 1em 0em 1em;
    }

  }

// CONTACT =======================================================

  .contact-panel {
    height: 40em;
    margin: 0 auto;
    background-color: $background-color;
    // text-align: center;
      // display: flex;
      // flex-flow: row-wrap;

    p {
      margin-top: 0px;
    }

    .col-span {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .maps {
      margin-left: 2%;
      margin-right: 2%;
      width: 40%;
      max-height: 100%;
      border: solid 3px white;
    }

    .contact-form {
      margin-left: 2%;
      margin-right: 2%;
      width: 40%;

      .contact-input {
        max-width: 100%;
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: solid 3px white;
        // border: none;
        // border-radius: 3px;
        font-size: 1em;
        padding: 0.2em 0em 0.2em 0.2em;
        font-family: $body-font;
        font-weight: 300;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .submit-btn {
      border: solid 3px white;
      // border-radius: 5px;
      padding: 0.5em 2em 0.5em 2em;
      font-size: 1em;
      font-family: $body-font;
      font-weight: 400;
      background-color: transparent;
      text-align: center;
      color: white;
    }

    .submit-btn:hover {
      font-weight: 400;
      background-color: $blue;
      color: white;
    }

}

// }

// MODAL ================
.ticket-section {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  text-align: left;
  
  div {
    width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    // border-radius: 10px;
    background-color: $dark-blue-opacity;
    border-bottom: solid 3px $light-opacity;
  }


  h2 {
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    border-bottom: solid 2px $light-opacity;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    width: 300px;
    color: $light-opacity;
  }

}

.ticket-section:target {
  opacity: 1;
  pointer-events: auto;
}

.close {
  color: $light-opacity;
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none;
  font-size: 1.5em;
}

.close:hover { 
  color: $blue; 
  transition: 0.2s;
}









