// SPONSORS =======================================================

  .sponsors-panel {
    height: 25em;
    background-color: white;
    text-align: center;
    padding-top: 2.5em;
    // margin: 0 auto;

    .sponsor-img {
      // text-align: center;

      height: 10em;
      margin: 0em 1em 0em 1em;
    }

  }